@tailwind base;
@tailwind components;
@tailwind utilities;

/* Font LPMQ Isep Misbah */
-- :root {
  --fontLPMQ : 
}

@font-face {
  font-family: "Font LPMQ Isep Misbah";
  src: url('assets/fonts/LPMQ-IsepMisbah.ttf');
}

.App {
  text-align: center;
}

body {
  background: rgb(246, 253, 255);
  /* background-color: rgb(15 23 42); */
  font-family: "Font LPMQ Isep Misbah";
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
